<% if @follower %>

	<h1> <%= @follower.full_name %> </h1>

	 <p>Do you really want to follow <%= @follower.full_name %>?</p>

	 <%= form_for @following, method: :post do |f| %>
	 	<div class="form form-actions">
		 	<%= f.hidden_field :follower_id, value: @follower_id %>
		 	<%= submit_tag "Yes I do", class: "btn btn-primary" %>
		 	<%= link_to "Cancel", profile_path(@follower), class: "btn" %>
	 	</div>
	 <% end %>

<% end %>