<div class="page-header">
	<div class="row" >
        <div class="span8">
			<h1>Current clients</h1>
		</div>
        <div class="span4">
			<%= link_to 'Add New Client', new_client_path, class:"btn btn-success pull-right" %>
		</div>
	</div>
</div>

<% @clients.each do |client| %>
	<div class="client">
		<h2> <%= link_to client.name, client %></h2>
		 <div class="meta">
		 	<%= pluralize(client.projects.size,"project") %>
			<span class="admin">
	    		| <%= link_to 'Edit', edit_client_path(client) %>
			</span>
		</div>
	</div>
	<div class="client_projects" style="display:none;" >
		<%= render client.projects %>
	</div>

<% end %>