<div class="page-header">
	<h1>All Huddle clients</h1>
</div>

<%= link_to 'Add New Client', new_client_path, class:"btn btn-success" %>


<% @clients.each do |client| %>
	<div class="client">
		<strong> <%= client.name %> </strong>
		<div class="meta">
	    	<%= link_to time_ago_in_words(client.created_at) +" ago", client %>
			<span class="admin">
	    		| <%= link_to 'Edit', edit_client_path(client) %> | 
	    		<%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %>
			</span>
		</div>
	</div>
<% end %>