<div class="page-header">
	<div class="row" >
        <div class="span8">
			<h1>All Huddle clients </h1>
		</div>
        <div class="span4">
			<%= link_to 'Add New Client', new_client_path, class:"btn btn-success pull-right" %>
		</div>
	</div>
</div>

<% @clients.each do |client| %>
	<div class="client">
		<h2> <%= client.name %> </h2>
		 <div class="meta">
	    	<%= link_to time_ago_in_words(client.created_at) +" ago", client %>
			<span class="admin">
	    		| <%= link_to 'Edit', edit_client_path(client) %> | 
	    		<%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %>
			</span>
		</div>

	</div>
	<%= render client.projects %>


<% end %>