<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :client_id, collection: Client.all, label_method: :name %>
    <%= f.input :name, :autofocus => true %>
    <%= f.input :description %>
    <%= f.input :start %>
    <%= f.input :end %>
    <%= f.input :value %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-success" %>
  </div>
<% end %>
