
<div class="project .<%= project.name %>" style="display:none;" >
        <strong> <%= project.name %></strong> : 
        <%= project.description %><br />
        Start: <%= project.start %> End: <%= project.end %><br />
        $<%= number_with_precision(project.value, precision: 2, separator: '.', delimiter: ',' ) %>
        <div class="meta">
            <%= link_to time_ago_in_words(project.created_at) +" ago", project %>
            <span class="admin">
                | <%= link_to 'Edit', edit_project_path(project) %> | 
                <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </div>
    </div>

