<div class="page-header">
    <div class="row" >
        <div class="span8">
            <h1>Listing projects </h1>
        </div>
        <div class="span4">
            <%= link_to 'New Project', new_project_path, class:"btn btn-success pull-right" %>
        </div>
    </div>
</div>

 

<% @projects.each do |project| %>
    <div class="project">
        <strong> 
        <%= project.name %></strong> : 
        <%= project.description %><br />
        Start: <%= project.start %> End: <%= project.end %><br />
        $<%= number_with_precision(project.value, precision: 2, separator: '.', delimiter: ',' ) %>
        <div class="meta">
            <%= link_to time_ago_in_words(project.created_at) +" ago", project %>
            <span class="admin">
                | <%= link_to 'Edit', edit_project_path(project) %> | 
                <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </div>
    </div>
<% end %>
