<div class="page-header">
    <div class="row" >
        <div class="span8">
            <h1> <%= @project.name %></h1>
        </div>
        <div class="span4">
            <div class="pull-right">
                <h2><%= @project.client.name %></h2>
            </div>
        </div>
    </div>
</div>

<div class="row" >
    <div class="span4">
        <div class="well">

    <div class="project">
        
        <p> <%= @project.description %></p>
        <p>Start: <%= @project.start.strftime("%e-%B-%Y") %> </p>
        <p>End: <%= @project.end.strftime("%e-%B-%Y") %></p>
        <p>$<%= number_with_precision(@project.value, precision: 2, separator: '.', delimiter: ',' ) %></p>
        <div class="meta">
            <%= link_to time_ago_in_words(@project.created_at) +" ago", @project %>
            <span class="admin">
                | <%= link_to 'Edit', edit_project_path(@project) %> | 
                <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </div>
      </div>
</div>
</div>
</div>

<%= link_to 'Back', projects_path %>
